.mdheader {
  display: flex;
  flex-direction: row; /* Default to horizontal layout */
  padding: 2rem;
  gap: 3rem;
  margin: auto;
  max-width: 80rem;
}

@media (max-width: 768px) {
  .mdheader {
    flex-direction: column; /* Change to vertical layout on smaller screens */
    gap: 1rem; /* Reduce gap */
  }

  .mdimage {
    width: 100%; /* Allow image to fill the parent width */
    max-width: 100%; /* Ensure image doesn't overflow its container */
    height: auto; /* Let the browser calculate the height to maintain aspect ratio */
    max-height: 15rem; /* Limit the maximum height to avoid excessive stretching */
  }

  .mdheaderText {
    max-width: none; /* Allow text to span the entire width */
  }
}

.mdimage {
  position: relative;
  width: 30rem; /* Original width */
  height: 20rem; /* Original height */
}

.mdheader img {
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-left 1s ease-out forwards;
}

.mdheaderText {
  padding: 0.5rem 1rem;
  color: #ddd6cb;
  max-width: 40rem;
  animation: fade-slide-in-from-right 1s ease-out forwards;
}

.mdheaderText h1 {
  margin: 0;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.mdcreator {
  font-size: 1.5rem;
  color: #cfa69b;
  font-style: italic;
}

.mdcreator a {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mdcreator a:hover,
.mdcreator a:active {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}

.mdsummary {
  font-size: 1.5rem;
}

.mdinstructions {
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: #6e6464;
  color: #13120f;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  max-width: 60rem;
  margin: 2rem auto;
  animation: fade-slide-in-from-bottom 1s ease-out forwards;
}

@media (max-width: 768px) {
  .mdinstructions {
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: #6e6464;
    color: #13120f;
    border-radius: 8px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    padding: 1rem; /* Adjust padding */
    max-width: calc(100vw - 4rem); /* Adjust max-width */
    margin: 2rem 2rem; /* Adjust margin */
    animation: fade-slide-in-from-bottom 1s ease-out forwards;
  }
}

.mdloading {
  font-size: 3rem;
  text-align: center;
  color: #ddd6cb;
  font-weight: bold;
  animation: flash 1s ease-in-out infinite alternate;
}

@keyframes fade-slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
